<%= form_for report.form, url: request.path do |f| %>
  <fieldset>
    <% report.filters.each do |name, options| %>
      <% label_name = "#{name.to_s.humanize} #{'*' if options.required}" %>

      <%#Collection field%>
      <% if options.collection %>
        <label><%= f.label name, label_name %></label>
        <%= f.select name, options_for_select(options.collection, f.object.send(name)), { prompt: options.include_blank }, required: options.required %>

      <%#Boolean field%>
      <% elsif options.boolean? %>
        <label class='checkbox'>
          <%= f.check_box name %>
          <%= f.label name, label_name %>
        </label>

      <%#Text field%>
      <% else %>
        <label><%= f.label name, label_name %></label>
        <%= f.text_field name, required: options.required  %>
      <% end %>

      <% if report.form.errors[name].any? %>
        <%= report.form.errors[name].to_sentence %>
      <% end %>
    <% end %>
    <%= f.button 'Run report', class: 'btn' %>
  </fieldset>
<% end %>
