<%= report.form.errors.full_messages %>
<%= form_for report.form, url: request.path do |f| %>

  <% report.filters.each do |name, options| %>
    <div>
      <% if options.required %>
        *
      <% end %>
      <%= f.label name %>

      <%# TODO: FIX ME - not so many ifs %>
      <%#= f.input_value_field %>

      <% if options.collection %>
        <%= f.select name, options_for_select(options.collection, f.object.send(name)), prompt: options.include_blank %>
      <% elsif options.boolean? %>
        <%= f.check_box name %>
      <% else %>
        <%= f.text_field name %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
